.base-link {
  color: var(--accent-color);
  text-decoration: none;
  font-size: var(--small-font-size);
  line-height: var(--base-line-height);
  cursor: default;
}

.base-link:hover {
  color: var(--dark-accent-color);
}
