<section class="{{styles.not-found}}">
    <h1 class="h h_extra-large">404</h1>
    <p class="p {{styles.not-found__text}}">Не туда попали</p>
    <a href="{{URLS.chats}}" class="link {{styles.not-found__link}}">
        <span>Назад к чатам</span>
    </a>
</section>