.back-button {
  padding: 1.2rem;
  background-color: var(--bg-color-secondary);
  cursor: pointer;
  transition: var(--base-transition);
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #eaeaea;
}

.back-button:hover {
  background-color: #6892fd;
}

.back-button:active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transform: scaleX(0.98);
  transform-origin: left center;
}
