.message-in {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
} {

}
.message-in__badge {
  background-color: #0e8f36;
  border-radius: 0.7rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  align-self: flex-start;
  color: #fff;
}

.message-in__content {
  inline-size: fit-content;
  max-inline-size: 70%;
  overflow-wrap: break-word;
  background-color: var(--bg-color-secondary);
  font-size: var(--small-font-size);
  line-height: 0.94rem;
  padding: 0.69rem;
  border-radius: 0 0.5rem 0.5rem;
}
