.message-in {
  inline-size: fit-content;
  max-inline-size: 70%;
  word-wrap: break-word;
  background-color: var(--bg-color-secondary);
  font-size: var(--small-font-size);
  line-height: 0.94rem;
  padding: 0.69rem;
  border-radius: 0 0.5rem 0.5rem;
}
