:root {
  --bg-color: #fff;
  --bg-color-secondary: #f8f8f8;
  --main-color: #1e1e1e;
  --accent-color: #3369f3;
  --critical-color: #ff2f2f;
  --muted-color: #999999;
  --main-font-size: 1rem;
  --large-font-size: 2rem;
  --small-font-size: 0.8rem;
  --base-line-height: 1;
  --dark-accent-color: #10379c;

  --base-transition: background-color 0.3s ease, border-color 0.3s ease;
}
