.base-button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  color: #fff;
  inline-size: 100%;
  padding: 0.75rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: var(--base-line-height);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.base-button:hover {
  border: 1px solid #6892fd;
  background-color: #6892fd;
}

.base-button:active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transform: scale(0.98);
}
