.chat {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-block-size: 100%;
  padding: 0.625rem 1.25rem;
}

.chat__messages {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 1.25rem;
  flex-grow: 1;
  justify-content: end;
  border-block: 1px solid #eaeaea;
  padding-block-end: 1.875rem;
}
